.mleft {
    margin-left: 3rem;
}

.width-text{
    max-width: 20rem;
}

.width-qr {
    max-width: 20rem;
}

.ct {
    margin-left: auto;
    margin-right: auto;
}

.ws {
    width: 13rem;
}

.ws2 {
    width: 15rem;
}



.w-96 {
    width: 20rem;
}

.sz {
    width: 20rem;
}

.w100 {
    width: 100%;
}